body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sky {
    display: inline-block;
    /*position: fixed;*/
    max-width: 300px;
    height: 120vh;
    background: #37deee;
}

.clouds {
    display: inline-block;
    position: relative;
    width: 130%;
}

.cloudBig {
    width: 150px;
}

.cloudMiddle {
    width: 100px;
}

.cloudSmall {
    width: 50px;
}

#big1 {
    position: relative;
    top: 50px;
    left: 30px;
}

.logo-box {
    position: absolute;
    width: 300px;
    top: 100px;
    left: 50px;
}

.umbrellas {
    position: absolute;
    width: 200px;
    top: 50px;
}

.title-box {
    position: absolute;
    width: 200px;
    top: 140px;
}

p {
    position: absolute;
    width: 150px;
    top: 160px;
    left: 30px;
    font-size: larger;
    color: white;
}

span {
    color: coral;
}