body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sky {
    max-width: 300px;
    height: 120vh;
    background: #37deee;
}

.clouds {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cloud-big {
    width: 150px;
}

.cloud-middle {
    width: 100px;
}

.cloud-small {
    width: 50px;
}

.big-1 {
    position: relative;
    top: -50px;
    left: 180px;
}

.big-2 {
    position: relative;
    left: 230px;
    transform: scaleX(-1);
}

.big-3 {
    position: relative;
    top: 120px;
    right: 60px;
    transform: rotate(180deg);
}

.big-4 {
    position: relative;
    top: 300px;
    left: 150px;
}

.big-5 {
    position: relative;
    top: 250px;
}

.middle-1 {
    position: absolute;
    left: 20px;
    top: 30px;
}

.middle-2 {
    position: relative;
    width: 70px;
    right: 140px;
}

.middle-3 {
    position: relative;
    top: 40px;
    left: 110px;
}

.middle-4 {
    position: relative;
    top: 400px;
}

.small-1 {
    position: relative;
    top: 20px;
    right: 20px;
}

.small-2 {
    position: relative;
    top: 300px;
}

.small-3 {
    position: relative;
    bottom: 120px;
    left: 20px;
}

.logo-box {
    position: absolute;
    width: 300px;
    top: 100px;
    left: 50px;
}

.umbrellas {
    position: absolute;
    width: 200px;
    top: 50px;
}

.title-box {
    position: absolute;
    width: 200px;
    top: 140px;
}

p {
    position: absolute;
    width: 140px;
    top: 160px;
    left: 40px;
    font-size: larger;
    color: white;
}

span {
    color: coral;
}